html, body {
	font-size: 10px;
	width: 100%;
	overflow-x: hidden;
	background-color: #666;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.7rem;
	line-height: 160%;
	color: #fff;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	font-size: 5.5rem;
	margin-top: 15px;
	margin-bottom: 17px;
}

h2 {
	font-family: 'Lato', sans-serif;
	color: #039;
	font-size: 2.3rem;
	margin-bottom: 10px;
}

h3 {
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	font-size: 3rem;
	margin-bottom: 15px;
}

h4 {
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	font-size: 2.7rem;
	margin-bottom: 10px;
}

h5 {
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	font-size: 2.2rem;
	margin-bottom: 10px;
}

p {
	margin-bottom: 10px;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

#loading {
	background-color: #444;
	height: 100vh;
	width: 100%;
}

.loader {
	position: relative;
	top: 45%;
	transform: translateY(-45%);
	border: 13px solid #f3f3f3;
	border-radius: 50%;
	border-top: 13px solid #19beff;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#content {
	display: none;
}

#nav {
	top: 0;
	position: fixed;
	width: 100%;
	display: block;
	background-color: #19beff;
	z-index: 999;
	text-align: left;
	overflow-x: hidden;
}

#nav ul li {
	display: inline-block;
	background-color: transparent;
	padding: 11px 6px;
	transition: border .15s ease-in-out;
	text-align: center;
}

#nav a {
	transition: border .15s ease-in-out;
}

#nav a:link, #nav a:visited {
	color: #FFF;
	text-decoration: none;
}

#nav a:hover, #nav a:active {
	padding-bottom: 12px;
	border-bottom: solid 3px #FFF;
}

.intro {
	background: #19beff;
	height: 100vh;
	overflow: hidden;
	width: 100%;
}

.title {
	margin-bottom: 20px;
}

.info {
	padding-top: 30vh;
	margin-left: 30px;
}

.info a img {
	margin-right: 20px;
}

.info a {
	transition: opacity .25s ease-in-out;
}

.info a:link, .info a:visited {
	opacity: 0.7;
}

.info a:hover, .info a:active {
	opacity: 1;
}

#diamond {
	position: relative;
	height: 90vw;
	width: 90vw;
	background-color: #7FDBFF;
	transform: rotate(45deg);
	margin-left: 30vw;
	margin-top: 25vw;
}

#next {
	display: block;
	position: absolute;
	margin-top: 35vh;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

article {
	padding: 35px;
	z-index: 1;
}

p a:link, p a:visited {
	text-decoration: none;
	color: #7FDBFF;
	font-weight: bold;
}

p a:hover, p a:active {
	color: #19beff;
	transition: ease-in-out .2s;
}

#exp td:first-child {
	font-weight: bold;
	padding-right: 20px;
	width: 40%;
}

#skills {
	grid-column: 2/3;
	margin-bottom: 15px;
	line-height:100%;
}

#skills td:first-child {
	padding-right: 20px;
}

.progress {
	width: 120px;
	border-radius: 25px;
	background-color: #333;
	position: relative;
	margin: 10px 0px;
}

.skill {
	position: absolute;
	top: 16%;
	left: 10%;
}

.bar {
	height: 27px;
	border-radius: 25px 0px 0px 25px;
	background-color: #1AE;
}

ol {
	list-style-type: decimal;
	margin-left: 30px;
	margin-bottom: 10px;
}

#more {
	display: none;
}

.center {
	display: block;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#toggle {
	font-family: 'Quicksand', sans-serif;
	background-color: transparent;
	border: 3px solid #BBB;
	padding: 8px 14px;
	font-size: 1.8rem;
	color: #BBB;
	cursor: pointer;
	transition: 0.4s;
}

#toggle:hover {
	border: 3px solid #8ee1ff;
	color: #8ee1ff;
}

.div1 {
	background-color: #444;
	clip-path: polygon(
	0 0,
	100% 0,
	100% calc(100% - 6vw),
	0 100%
	);
	-webkit-clip-path: polygon(
	0 0,
	100% 0,
	100% calc(100% - 6vw),
	0 100%
	);
}

.div1 h3 {
	text-align: center;
}

.div2 {
	background-color: #666;
}

.div3 {
	background-color: #444;
	clip-path: polygon(
	0 0,
	100% 6vw,
	100% 100%,
	0 100%
	);
	-webkit-clip-path: polygon(
	0 0,
	100% 6vw,
	100% 100%,
	0 100%
	);
}

.grid {
	margin-bottom: 25px;
}

.grid img {
	width: 100%;
}

a img {
	height: 50px;
}

#contact {
	background: linear-gradient(#444, #666);
	font-size: 2rem;
	padding: 30px;
}

#contact img {
	height: 50px;
	margin-right: 8px;
}

#contact a {
	transition: opacity .25s ease-in-out;
}

#contact a:link {
	opacity: 0.6;
}

#contact a:hover {
	opacity: 1;
}

.forms {
	margin: 0 auto;
	text-align: center;
}

#phone {
	display: block;
}

#tablet {
	display: none;
}

input, textarea, select {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	color: #000;
}

input[type=text] {
	padding: 5px;
	width: 95%;
	border: solid 2px #777;
}

input[type=email] {
	padding: 5px;
	width: 95%;
	border: solid 2px #777;
}

select {
    display: inline-block;
    padding: 2px;
	border-radius: none;
    border: 2px solid #888;
    color: #333;
}

textarea{
	padding: 5px;
	width: 95%;
	resize: vertical;
	height: 150px;
	border: solid 2px #777;
}

input[type=submit] {
	color: #BBB;
	margin: 15px 15px 0px 15px;
	background-color: transparent;
	border: 3px solid #BBB;
	padding: 8px 14px;
	transition: 0.4s;
	cursor: pointer;
}

input[type=submit]:hover {
	color: #8ee1ff;
	border: 3px solid #8ee1ff;
}

input[type=reset] {
	color: #BBB;
	margin: 15px 15px 0px 15px;
	background-color: transparent;
	border: 3px solid #BBB;
	padding: 8px 14px;
	transition: 0.4s;
	cursor: pointer;
}

input[type=reset]:hover {
	color: #F55;
	border: 3px solid #F55;
}

footer {
	background-color: #666;
	padding-left: 30px;
	padding-top: 5px;
}

footer p {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

@media screen and (min-width: 350px) {
	#nav {
		text-align: right;
	}

	#nav ul li {
		padding: 11px 10px;
	}

	input[type=submit] {
		color: #BBB;
		margin: 15px 25px 0px 15px;
	}

	input[type=reset] {
		color: #BBB;
		margin: 15px 15px 0px 25px;
}

@media screen and (min-width: 430px) {
	#skills td:first-child {
		padding-right: 60px;
	}

	#nav ul li {
		padding: 11px 20px;
	}

	input[type=submit] {
		color: #BBB;
		margin: 15px 35px 0px 15px;
	}

	input[type=reset] {
		color: #BBB;
		margin: 15px 15px 0px 35px;
	}

	.info {
		margin-left: 55px;
	}
}

@media screen and (min-width: 600px) {
	.progress {
		width: 130px;
	}

	.grid {
		display: grid;
		grid-template-columns: 240px 4fr;
		grid-template-rows: auto;
	}

	.grid h5 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.grid img {
		grid-column: 1/2;
		grid-row: 2/3;
		width: 95%;
	}

	.paragraph {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	#diamond {
		height: 70vw;
		width: 70vw;
	  	margin-left: 35vw;
	  	margin-top: 18vw;
	}
}

@media screen and (min-width: 750px) {
	#phone {
		display: none;
	}

	#tablet {
		display: block;
	}
	body {
		font-size: 1.8rem;
	}

	.grid {
		display: grid;
		grid-template-columns: 300px 4fr;
		grid-template-rows: auto;
	}

	.grid h5 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.grid img {
		grid-column: 1/2;
		grid-row: 2/3;
		width: 95%;
	}

	.paragraph {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	#about, #exp {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto;
	}

	#about h3, #exp h4 {
		grid-column: 1/2;
		text-align: left;
	}

	#about p, #exp p {
		grid-column: 2/3;
	}

	#contact {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: auto;
	}

	.text {
		grid-column: 1/2;
		margin-top: 10px;
		margin-right: 10px;
	}

	.forms {
		grid-column: 2/3;
		margin-top: 10px;
		width: 100%;
		max-width: 640px;
	}
}


@media screen and (min-width: 800px) {
	#skills td:first-child {
		padding-right: 90px;
	}

	body {
		font-size: 1.9rem;
	}

	h5 {
		font-size: 2.3rem;
	}

	#about {
		padding-bottom: 50px;
	}

	#diamond {
	  margin-left: 35vw;
	  margin-top: 3vw;
	}
}
