html {
	font-size: 10px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.7rem;
	line-height: 160%;
	color: #fff;
	background-color: #666;
	overflow-x: hidden;
	transition: background-color .5s;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	font-size: 4rem;
	margin-top: 15px;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Lato', sans-serif;
	color: #FFF;
	font-size: 2rem;
	margin-bottom: 10px;
}

h3 {
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	font-size: 3rem;
	margin-bottom: 15px;
}

h4 {
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	font-size: 2.7rem;
	margin-bottom: 10px;
}

h5 {
	font-family: 'Quicksand', sans-serif;
	color: #FFF;
	font-size: 2.2rem;
	margin-bottom: 10px;
}

p {
	margin-bottom: 20px;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

#dropdown {
	top: 0;
	position: fixed;
	width: 100%;
	display: block;
	z-index: 999;
}

.toggle,[id^=drop] {
	display: none;
}

.toggle + a, .menu {
	display: none;
}

.toggle {
	display: block;
	background-color: #222;
	padding: 10px 20px 40px 20px;
	width: 100%;
	color: #FFF;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: background-color .2s ease-in-out;
}

.toggle img {
	float: left;
	width: 35px;
}

.toggle:hover {
	background-color: #000;
}

[id^=drop]:checked + ul {
	display: block;
}

#dropdown ul li {
	display: block;
	background-color: #222;
	padding: 14px 20px;
	width: 100%;
	transition: background-color .2s ease-in-out;
}

#dropdown ul li:hover {
	background-color: #000;
}

#dropdown a {
	transition: color .2s ease-in-out;
}

#dropdown a:link, #dropdown a:visited {
	color: #CCC;
	text-decoration: none;
}

#dropdown a:hover, #dropdown a:active {
	color: #FFF;
}

.sidenav, span {
	display: none;
}

.intro {
	color: #FFF;
	display: inline-block;
	height: 40vh;
	width: 100%;
	background-size: cover;
}

.overlay {
	background-color: rgba(0,0,0,0.3);
	height: inherit;
	width: inherit;
	display: inline-block;
}

.info {
	display: block;
	margin: 15vh auto auto;
	padding: 15px 20px;
	text-align: center;
	width: 60vw;
}

.title {
	border-top: solid 1px #FFF;
	font-style: italic;
}

article {
	padding: 35px;
}

p a:link, p a:visited {
	text-decoration: none;
	color: #BDF;
	font-weight: bold;
}

p a:hover, p a:active {
	color: #8BF;
	transition: ease-in-out .5s;
}

.div1 {
	background-color: #444;
	clip-path: polygon(
	0 0,
	100% 0,
	100% calc(100% - 6vw),
	0 100%
	);
	-webkit-clip-path: polygon(
	0 0,
	100% 0,
	100% calc(100% - 6vw),
	0 100%
	);
}

.div1 h3 {
	text-align: center;
}

.div2 {
	background-color: #666;
}

.div3 {
	background-color: #444;
	clip-path: polygon(
	0 0,
	100% 6vw,
	100% 100%,
	0 100%
	);
	-webkit-clip-path: polygon(
	0 0,
	100% 6vw,
	100% 100%,
	0 100%
	);
}

.grid {
	margin-bottom: 10px;
}

.grid img {
	width: 100%;
}

.grid a {
	opacity: 0.6;
	transition: opacity .25s ease-in-out;
}

.grid a:hover {
	opacity: 1;
}

.grid a img {
	width: 60px;
}

#p1, #p2 {
	margin-bottom: 15px;
}

a img {
	width: 60px;
}

#contact {
	background: linear-gradient(#444, #666);
	font-size: 2rem;
	padding: 30px;
}

#contact img {
	width: 60px;
	margin-right: 8px;
}

#contact a {
	transition: opacity .25s ease-in-out;
}

#contact a:link {
	opacity: 0.6;
}

#contact a:hover {
	opacity: 1;
}

.forms {
	margin: 0 auto;
	text-align: center;
}

input, textarea, select {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 1.8rem;
	color: #000;
}

input[type=text] {
	padding: 5px;
	width: 95%;
	border: solid 2px #777;
}

input[type=email] {
	padding: 5px;
	width: 95%;
	border: solid 2px #777;
}

select {
    display: inline-block;
    padding: 2px;
	border-radius: none;
    border: 2px solid #888;
    color: #333;
}

textarea{
	padding: 5px;
	width: 95%;
	resize: vertical;
	height: 150px;
	border: solid 2px #777;
}

input[type=submit] {
	color: #BBB;
	margin: 15px 35px 0px 15px;
	background-color: transparent;
	border: 3px solid #BBB;
	padding: 8px 14px;
}

input[type=submit]:hover {
	color: #0FF;
	border: 3px solid #0FF;
}

input[type=reset] {
	color: #BBB;
	margin: 15px 15px 0px 35px;
	background-color: transparent;
	border: 3px solid #BBB;
	padding: 8px 14px;
}

input[type=reset]:hover {
	color: #F55;
	border: 3px solid #F55;
}

footer {
	background-color: #666;
	padding-left: 30px;
	padding-top: 5px;
}

footer p {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

@media screen and (min-width: 750px) {
	body {
		font-size: 1.8rem;
	}

	#dropdown {
		display: none;
	}

	.sidenav {
		display: block;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
	}

	span {
		left: 0;
		width: 100%;
		background-color: #222;
		padding: 10px 20px 3px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display: block;
		position: fixed;
		z-index: 1;
	}

	span img {
		width: 35px;
	}

	.sidenav a {
		padding: 18px 8px 18px 30px;
		text-decoration: none;
		font-size: 2.4rem;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.sidenav a:first-child:hover {
		background-color: transparent;
	}

	.grid {
		display: grid;
		grid-template-columns: 300px 4fr;
		grid-template-rows: auto;
	}

	.grid h5 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.grid img {
		grid-column: 1/2;
		grid-row: 2/3;
		width: 95%;
	}

	.paragraph {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	#content {
		transition: margin-left .5s;
	}

	.info {
		margin: 0;
		height: 80%;
		padding: 130px 25px;
		text-align: left;
		clip-path: polygon(
		0 0,
		60% 0,
		95% 100%,
		0 100%
		);
		-webkit-clip-path: polygon(
		0 0,
		60% 0,
		95% 100%,
		0 100%
		);
	}

	.title {
		border-top: solid 1px #FFF;
		width: 300px;
	}

	#about, #exp {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto;
	}

	#about h3, #exp h4 {
		grid-column: 1/2;
		text-align: left;
	}

	#about p, #exp p {
		grid-column: 2/3;
	}

	#contact {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: auto;
	}

	.text {
		grid-column: 1/2;
		margin-top: 10px;
	}

	.forms {
		grid-column: 2/3;
		margin-top: 10px;
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	body {
		font-size: 1.9rem;
	}

	h5 {
		font-size: 2.3rem;
	}

	#about {
		padding-bottom: 50px;
	}
}

@media screen and (max-height: 800px) {
	.intro {
		height: 48vh;
	}
}

@media screen and (max-height: 450px) {
	.intro {
		display: none;
	}

	.div1 {
		margin-top: 30px;
	}
}
